


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    box-sizing: border-box;
    font-family: 'inter';
    scroll-behavior: smooth;      
}

body{
    margin: 0;
    padding: 0;
}
/* início cabeçalho */
header{
    width: 100%;
    display: inline-block;
    background-color: #0FCE68;
    justify-content: center;
    text-align: center; 
    gap: 50px;
    position: fixed;
    height: 90px;
    top: 0;
}


header button{
    align-items: center;
    background-color: #0FCE68;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color:#fff;
    transition:200ms;
    cursor: pointer;
    
}
header button:nth-last-child(){
    border-right: solid 1px white;
}

header button:hover{
    color: #ffffd9;
    font-size: 25px;
}
#button-header {
    background-color: #fff;
    color: black;
    height: 50%;
    width: 139px;
    border-radius: 5px;
    transition: 200ms ease;
    cursor: pointer;
}

#button-header:hover{
    background-color: #0FCE68;
    color: #fff;
}

/* fim cabeçalho */

/* começo destaque */

.destaque{
    display: flex;
    align-items: center;
    padding-top:200px ;
    margin: auto auto;
    width: 70%;
    gap: 10px;

}
.destaque p{
    font-size: 90px;
    font-weight: bold;
}
.destaque img{
    max-width: 305px;
    max-height:326px ;
}

/* fim destaque */

.containers{
    background-color: #ffffd9;
    width: 80%;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    padding-left: 126px;
    padding-right: 126px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.titulos-cards {
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    margin:auto auto;
    justify-content: center;
    text-align: center;
}

.texto-cards{
    font-size: 30px;
    margin-top: 40px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.button-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    
}
.containers button{
    background-color: #0FCE68;
    border: none;
    width: 192px;
    height: 88px;
    color: #ffff9e;
    border-radius: 10px;
    font-size: 31px;
    font-weight: bold;
    margin-top: 77px;
}
.button-card button{
    transition: 200ms;
    cursor: pointer;
}

.button-card button:hover{
    background-color: #30EF89;
    color: #fff;
    font-size: 35px;
    width: 220px;
    height: 100px;
    
}

footer{
    bottom: 0;
    background-color: #0FCE68;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    padding: 20px;
}

#titulo-footer{
    font-size: 35px;
    font-weight: bold;
}

#integrantes{
    font-size: 30px;
    font-weight: 700;
}

footer p{
    font-size: 20px;
}

.titulo{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.titulo p{
    padding-top: 100px;
}

.container-out{
    width: 80%;
    margin: auto auto;
    border: solid 1px #D6D6D6;
    border-radius: 20px;
}

.container-out p{
    border: dashed 1px red;
    padding: 0 100px 0 100px;
    font-size: 20px;
    font-weight: bold;
}

#titulo-container{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

